<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.upv.movie.list.netflix">

    <uses-permission android:name="com.android.vending.BILLING" />
    <!-- Internet permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".activity.MainActivityApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.PerfilActivity"
            android:label="@string/label_activity_perfil" />

        <activity android:name=".activity.ShowEditMovieActivity" />

        <activity android:name=".activity.Ratings" />

        <activity android:name=".activity.MovieListActivity" />

        <activity
            android:name=".activity.ListasActivity"
            android:theme="@style/AppThemeListas" />

        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
        <activity android:name=".activity.InicioSesionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <activity android:name=".activity.InicioSesionActivity" />
        <activity android:name=".activity.RegistroActivity" />
        <activity android:name=".activity.NuevaListaActivity"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="org.upv.movie.list.netflix.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>
</manifest>