<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.upv.lista.list">

    <!-- Internet permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="org.upv.lista.list.netflix.activity.PerfilActivity" android:label="@string/label_activity_perfil"></activity>

        <activity android:name="org.upv.lista.list.netflix.activity.ShowEditMovieActivity" />

        <activity android:name="org.upv.lista.list.netflix.activity.Ratings" />

        <activity android:name="org.upv.lista.list.netflix.activity.MovieListActivity"></activity>

        <activity android:name="org.upv.lista.list.netflix.activity.ListasActivity" android:theme="@style/AppThemeListas" />

        <activity android:name="org.upv.lista.list.netflix.activity.SplashActivity" android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
        <activity android:name=".activity.InicioSesionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <activity android:name="org.upv.lista.list.netflix.activity.InicioSesionActivity"></activity>
        <activity android:name="org.upv.lista.list.netflix.activity.RegistroActivity"></activity>
    </application>
</manifest>